body{
  background:linear-gradient(
    to right,
    white 0%,
    rgb(239, 187, 187) 70%,
    white 100%
  );
}





.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}

#heading{
  display:flex;
  justify-content: center;
  align-items: center;
}

